.git
.gitignore
.env
.venv
**/.venv
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/*.pyc
storage
backend/storage
**/*.db
**/*.sqlite
frontend/node_modules
frontend/dist
**/node_modules
**/dist
.DS_Store
notes
